<?xml version="1.0" encoding="UTF-8"?>
<!--
1. Setting up the fonts
-> Just Change my-serif, my-sans, my-mono to your favourite Serif, Sans-Serif, Monospace fonts
-> Also Make sure those fonts are installed!
2. Place this file as "/etc/fonts/local.conf" or "~/.config/fontconfig/fonts.conf"
3. Reboot the System, to apply the changes...
-->
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <alias>
    <family>serif</family>
    <prefer>
      <family>my-serif</family>
    </prefer>
  </alias>
  <alias>
    <family>sans-serif</family>
    <prefer>
      <family>my-sans</family>
    </prefer>
  </alias>
  <alias>
    <family>monospace</family>
    <prefer>
      <family>my-mono</family>
    </prefer>
  </alias>
</fontconfig>
